<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1" /><![endif]-->

        <title>PyConES 2014 - Zaragoza  </title>
        <meta name="description" content="Conferencia de la Asociación Python España -
        Evento nacional 2014">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ url_for('static',
        filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet"
        href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
        />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300'
        rel='stylesheet' type='text/css'>

        <link type="image/png" href="/static/img/favicon.png" rel="icon"/>

        <style>
            body {
                padding-bottom: 20px;
            }
            .uppercase{
                text-transform:uppercase;
            }
            p.lead{
                font-family: 'Open Sans', sans-serif;
            }

        </style>
        <link rel="stylesheet" href="{{ url_for('static',
            filename='css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',
            filename='css/main.css') }}">

        <script src="{{ url_for('static',
            filename='js/vendor/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>
        <style>
        </style>
    </head>
    <body>
    <div class="container">
     <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h1>PyConES 2014 - Zaragoza</h1>
            <p class="lead">Centro de Arte y Tecnología Etopia, Noviembre 2014</p>
          </div>
          <div class="col-lg-12" style="padding: 15px 15px 0 15px;">
            <div class=" center-block sponsor" style="width:60%; min-height:100px;">
              <a href="http://www.dlabs.co">
                  <img alt="Dlabs logo" style="float: left; width:50%; margin-right: 15px;" class="img-responsive" src="{{url_for('static', filename='img/dlabs.png')}}" />
              </a>

              <a href="http://es.python.org">
                  <img alt="Python España logo" style="width:100px; float: left; margin-right: 15px;" class="img-responsive"  src="{{url_for('static', filename='img/pythones.png')}}" />
                  <span style="
                    margin-top: 10px;
                    display: inline-block;
                    margin-left: -20px;
                    font-weight: bolder;
                    color: #303030;
                    font-size:1.3em;
                 ">
                 Python España
                 </span>
              </a>
            </div>
          </div>
        </div>
      </div>
  </div>
      <div class="container">

      <div class=row>
        <div class=col-lg-12>
            <h1 class="text-primary text-center"> ¿Que es PyConEs2014? </h1>
            <p class="lead uppercase text-center">
            PyConEs es la conferencia nacional de Python<br/> con mayor relevancia de España.
            </p>

            <p class=lead style="font-weight:bold">
                <span class=text-primary>PyConES</span> celebrará su segunda edición, tras el éxito de la
                desarrollada el pasado año en Madrid, bajo el formato del
                evento mundial <a href="http://pycon.org">PyCon</a>. En esta ocasión, la
                organización recae en el hackerspace de Zaragoza, Dlabs con la
                colaboración de la asociación Python España y el Grupo de Python
                Zaragoza.

            </p>
        </div>
    </div>
      <div class=row>
          <div class=col-lg-12>
              <i class="fa fa-cog pull-left text-primary lead fa fa-cog"
                  style="font-size:130px"></i>
              <p class="lead">
                  Un hackerspace es un sitio físico donde gente con diversos
                  intereses se puede conocer, socializar y colaborar. DLabs nos
                  brinda un espacio donde unirnos personas de diversos trasfondos y
                  especialidades compartiendo conocimientos y materiales creando una
                  especie de laboratorio de desarrollo abierto. Ahora mismo el
                  hackerspace cuenta con una veintena de socios que coordinaran y
                  organizaran el evento de este año junto a otros voluntarios.
              </p>
              <p class=lead>
                <i class="fa fa-location-arrow pull-left text-primary lead"
                  style="font-size:130px"></i>
                   Zaragoza es la quinta ciudad española por tamaño. Está enclavada a mitad de
                   camino entre Madrid y Barcelona, con buenas comunicaciones por carretera y tren
                   de alta velocidad, y cuenta con una buena oferta hostelera, gastronómica y de
                   ocio nocturno, lo que la hace una ciudad ideal para la celebración de congresos.
              </p>
          </div>
        </div>
      <div class=row>
        <div class=col-lg-12>
            <h1 class="text-primary text-center"> Ediciones anteriores </h1>
            <p class="lead uppercase text-center">PyConEs 2013            </p>
            <p class=lead>
            <span>La PyConEs2013 se celebró en la Universidad Politecnica de
                Madrid (UPM) en noviembre de 2013.</span> <br/>
                La conferencia contó con más de 20 patrocinadores y más de 300
                asistentes, así como casi 10.000 visualizaciones de las charlas en
                los seis meses posteriores a la celebración del evento.
                <br/>
                Para más información, puede visitar el archivo de la edición
                2013 <a href="http://2013.pycon.org" target="_new">aquí</a>

            </p>
        </div>
    </div>


      <div class=row>
        <div class=col-lg-12>
            <h1 class="text-primary text-center"> Lugar </h1>
            <p class="lead uppercase text-center">
                Etopia - Centro de Arte y tecnología
            </p>
            <p class=lead>
                   El Centro de Arte y Tecnología de Zaragoza es un equipamiento de
                   nueva generación diseñado para albergar y promover los proyectos
                   creativos y emprendedores más innovadores dentro del espacio de
                   la Milla Digital.<br/> Una potente instalación con una superficie
                   total construída de más de 16.000 m2 que funcionará al mismo
                   tiempo como centro de cultura contemporánea, escaparate de las
                   expresiones artísticas más vanguardistas, taller para creadores y
                   tecnológos, espacio de formación especializada en los nuevos
                   ámbitos surgidos por la intersección del arte y la tecnología,
                   laboratorio de ideas para la ciudad digital e incubadora de
                   nuevas empresas del sector de los contenidos.

            </p>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2980.8044031059635!2d-0.9053103000000003!3d41.6599679!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5914b529892325%3A0x396230c8289f16d1!2sAv+de+la+Autonomia!5e0!3m2!1ses!2s!4v1401918675403"
                width="100%" height="450" frameborder="0" style="border:0"></iframe>
        </div>
    </div>
      <div class=row>
          <div class=col-lg-12>
            <h1 class="text-primary text-center">Patrocinadores </h1>
            <p class="lead uppercase text-center">
                ¡Tu también puedes patrocinar PyConEs!
            </p>
            <p class=lead>
              <p class="lead">
                <img alt="Etopia logo" style="float: left; margin-right: 15px;" class="col-md-6 img-responsive" src="{{url_for('static', filename='img/etopia.png')}}" />
              </p>
          </div>
          <div class=col-lg-12>
              <p class="lead">
              Si estás interesado en patrocinar PyConEs2014, <a href="{{url_for('static', filename='Patrocinio_PyConEs2014.pdf') }}"> este documento</a> es
              para tí
              <br/>
                Puedes ponerte en contacto con nosotros <a
                    href="mailto:pycon2014@dlabs.co">en pycon2014@dlabs.co</a>
          </div>
      </div>
      <div class=row">
        <div class=col-lg-12>
            <h1 class="text-primary text-center">Como participar </h1>
            <p class="lead uppercase text-center">
                La conferencia todavía se está gestando
            </p>
            <p class=lead>
            Estamos trabajando duro para poder ofreceros una PyConES espectacular.
            Nuestro equipo de organizadores, colaboradores y voluntarios, con
            más veinte personas implicadas, está preparando los recursos para
            que podais participar y luchando por conseguir a los mejores
            conferenciantes y las charlas más interesantes.
            </p>
            <p class=lead>
                Actualmente puedes acceder a los siguientes recursos:
            </p>
            <ul class=lead>
                <li><a href="https://lists.es.python.org/listinfo/pycones2014_colaboradores" target="_new"> Correo electrónico de colaboradores</a></li>
                <li><a href="mailto:pycon2014@dlabs.co"> Correo interno de organización de Dlabs Hackerspace </a></li>
                <li> <a href="https://trello.com/b/qlhISlt0/pycon2014"> Trello público </a></li>
            </ul>
        </div>
      </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
