{% extends 'base.html' %}
{% block body %}
      <div class=row>
        <div class=col-lg-12>
            <h1 class="text-primary text-center"> What is PyConEs2014? </h1>
            <p class="lead uppercase text-center">
            PyConEs is the national python conference<br/> with more relevance in Spain.
            </p>

            <p class=lead style="font-weight:bold">
            <span class=text-primary>PyConES</span>
                second edition will be held, after the first edition's success
                last year in Madrid, under the mundial event
                <a href="http://pycon.org">PyCon</a>'s format.
                In this edition, the organization is by the hand of the Zaragoza
                Hackerspace, Dlabs, with the colaboration of the Python Spain
                association and the Python Zaragoza user group.
            </p>
        </div>
    </div>
      <div class=row>
          <div class=col-lg-12>
              <i class="fa fa-cog pull-left text-primary lead fa fa-cog"
                  style="font-size:130px"></i>
              <p class="lead">
                  A hackerspace is a fisical place with people who has diverse
                  interests can get to know each other, socialize and collaborate.
                  Dlabs gives us a space where we we can meet, sharing knowledge and
                  materials, creating some kind of open development laboratory.
                  Right now, zaragoza's hackerspace has about twenty members who
                  will coordinate and organise this year's event, along with many
                  other volunteers
              </p>
              <p class=lead>
                <i class="fa fa-location-arrow pull-left text-primary lead"
                  style="font-size:130px"></i>
                  Zaragoza is the fifth city in spain by its size.
                  It's enclaved halfway between madrid and barcelona, with good
                  communications by road and high speed train (ave). It counts with
                  a good gastronomic, nightlife and hotel offer, wich makes it the
                  ideal city for helding big congresses.
              </p>
          </div>
        </div>
      <div class=row>
        <div class=col-lg-12>
            <h1 class="text-primary text-center"> Previous editions </h1>
            <p class="lead uppercase text-center">PyConEs 2013            </p>
            <p class=lead>
            <span>
                PyConEs 2013 was held at Madrid's Universidad Politecnica (UPM)
                in november 2013. </span><br/>
                The conference had more than 20 sponsors, more than 300
                attendees and almost 10.000 views of the talks in the next six
                months.
                <br/>
                You can watch the 2013 edition archive
                <a href="http://2013.es.pycon.org" target="_new">here</a>
            </p>
        </div>
    </div>
      <div class=row>
        <div class=col-lg-12>
            <h1 class="text-primary text-center"> Location </h1>
            <p class="lead uppercase text-center">
                Etopia - Center for Art and Technology
            </p>
            <p class=lead>
            Zaragoza's Center for Art and Technology is a new-generation
            equipment designed to hold and promote the most innovative,
            creative and entrepreneus projects within the scope of "Milla
            Digital". <br/>
            A potent installation with a total surface area of more than 16.000
            m2 wich will work at the same time as a center for contemporary
            culture, showcase of the most cutting-edge expressions and workshop
            for the makers and technologists, a space of specialized training in
            the new ambits emerging from the intersection of art and technology,
            a lab for ideas about the digital city and incubator for new
            enterprises in the content sector.
            </p>
            <iframe width="100%" height="450" frameborder="0" style="border:0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=-0.9134209156036376%2C41.658020211719155%2C-0.9009647369384766%2C41.66088178366847&amp;layer=mapnik&amp;marker=41.65943899017537%2C-0.9071767330169678"></iframe><br/><small><a href="http://www.openstreetmap.org/?mlat=41.65945&amp;mlon=-0.90719#map=17/41.65945/-0.90719">View Larger Map</a> - <a href="https://mapsengine.google.com/map/edit?mid=zMetcmekBiFU.klCrXca9K_Pg">View map on Google Maps</a></small>
        </div>
    </div>
    <br/>
    <br/>
      <div class=row>
          <div class=col-lg-12>
            <h1 class="text-primary text-center"> Sponsors </h1>
            <p class=lead>
              <p class="lead">
                <img alt="Etopia logo" style="float: left; margin-right: 15px;" class="col-md-6 img-responsive" src="{{url_for('static', filename='img/etopia.png')}}" />
              </p>
          </div>
          <div class=col-lg-12>
              <br/>
            <p class="lead uppercase text-center">
                You can also sponsor PyConES!
            </p>
              <p class="lead">
              <b>
                  If you're interested in sponsoring PyConES2014,
                  <a href="{{url_for('static',
                      filename='Patrocinio_PyConEs2014.pdf') }}"> this document
                  </a> is for you </b>
              <br/>
              You can get in touch with us <a
                    href="mailto:pycon2014@dlabs.co">at pycon2014@dlabs.co</a>
          </div>
      </div>
      <div class=row">
        <div class=col-lg-12>
            <h1 class="text-primary text-center">Como participar </h1>
            <p class="lead uppercase text-center">
                The conference is still being built
            </p>
            <p class=lead>
            We're working hard to offer you a spectacular PyConES event.
            Our organization, volunteer and collaborator team, with more than
            twenty people, are getting the resources ready for you to
            participate and fighting to get the best speackers and most
            interesting talks.
            </p>
            <p class=lead>
                At this moment you can access the following resources:
            </p>
            <ul class=lead>
                <li><a
                    href="https://lists.es.python.org/listinfo/pycones2014_colaboradores"
                    target="_new"> Collaboration mail </a></li>
                <li><a href="mailto:pycon2014@dlabs.co"> Internal organization
                    mail for Dlabs Hackerspace </a></li>
                <li><a href="https://trello.com/b/qlhISlt0/pycon2014"> Public
                    Trello </a></li>
            </ul>
        </div>
    </div>
    <div class=row>
        <div class=col-lg-12>
            <h1 class="text-primary text-center"> CALL FOR PAPERS </h1>
            <p class="lead uppercase text-center">
                This is for you, speackers.
                <br/>
            </p>

            <p class=lead>
                Call4Papers is open for PyConES2014
                <br/><br/>
                Sponsorship is not yet closed, but we'll do everything that is
                in our hands to help with the travel and accommodation of the
                speackers. They'll also get a free ticket and a special gift
                that we'll announce at the farewell ceremony.
            </p>

            <p class=lead>Types of papers</p>
            <ul class=lead><li> Talks - 50m of technical talk</li>
                <li>Lighning talks - 10m of product presentation or technical talk</li>
                <li>Workshops - between 50 minutes and 2h </li>
            </ul>

            <p class="lead">
            Some important dates
            </p>

            <ul class=lead>
                <li>10 september - limit date for presenting a talk</li>
                <li>3-6 noviembre      - Python course at dlabs hackerspace</li>
                <li>7 de noviembre    - Special BetaBeers PyConES </li>
            </ul>

            <p class="lead" style="font-weight:bold">
            If you've got a talk proposal, send us a mail to
                <a href="mailto:pycon2014@dlabs.co">pycon2014@dlabs.co</a>
                with the following:
            </p>

            <ul >
                <li> <em> Subject: </em>  &nbsp;  PyConEs2014 - Call4Papers Response </li>
                <li> <em> Body: </em> &nbsp;   Small extract of your talk</li>
                <li> <em> Add your talk's duration </em> </li>
                <li> <em> Tell us something about yourself </em> </li>
            </ul>
        </div>
      </div>
      <div class="row">
        <div class=col-lg-12>
            <h1 class="text-primary text-center"> Code of conduct </h1>
            <p class="lead">
                All assistants are required to show respect and courtesy to the
                rest during the conference. <br/>
                More precisely, all delegates, speakers and volunteers taking
                part in PyConES-related activities should adhere to the present
                code of conduct. Organization will enforce the fullfilment of
                this code of conduct.
                <br>
                PyConEs aims to create a discrimination free environment.
                Gender, sexual orientation, discapacity, fisical aspect, ethnics
                or religion-based discriminations will not be tolerated under
                any circumstance.
                <br/>
                If any participant breaks this code of conduct, organization
                reserves the right to take the adecuate measures, like
                amonestation or expulsion without right to be reimbursed.
        </div>
      </div>
    {% endblock %}
