{%extends 'base.html'%}
{%block menu%}
      <div style="border-bottom:1px solid #eee; padding-bottom:20px; margin-bottom:30px" class=text-center>
          <ul class="nav nav-pills text-center" style="background:white; margin-left:80px" id=navigation>
              <li><a onclick="window.location.href='/#acercade'" href="#acercade">{{ _('Acerca de') }}</a></li>
              <li><a onclick="window.location.href='/#comollegar'" href="#comollegar">{{ _('Cómo llegar') }}</a></li>
              <li><a onclick="window.location.href='/#patrocinadores'" href="#patrocinadores">{{ _('Patrocinadores') }}</a> </li>
              <li><a onclick="window.location.href='/#comoparticipar'" href="#comoparticipar">{{ _('Cómo participar') }}</a></li>
              <li><a onclick="window.location.href='/#call4papers'" href="#call4papers">{{ _('Call4Papers') }}</a></li>
              <li><a onclick="window.location.href='/#codigodeconducta'" href="#codigodeconducta">{{ _('Código de conducta') }}</a></li>
              <li><a onclick="window.location.href='/talks'" href="/talks">{{ _('Charlas') }}</a></li>
              <li><a href="/blog" onclick="window.location.href='/blog'">{{ _('Blog') }}</a></li>
          </ul>

      </div>

{%endblock%}
{%block body%}
{% for article in pages %}
    <a href="/blog/{{article.meta['language']}}/{{article.meta['post_id']}}"><h1 class=text-center>{{article.meta['title']}}</h1></a>
    <p class=lead>
        {{article}}
    </p>
    <h4> {{article.meta['published']}} - {{article.meta['author']}}</h4>
    <hr/>
{%endfor%}
{%if single%}
<h1><a href="/blog/">{{ _('Volver') }}</a></h1>
{%endif%}
{%endblock%}
