{%extends 'base.html'%}
{%block menu%}
      <div style="border-bottom:1px solid #eee; padding-bottom:20px; margin-bottom:30px" class=text-center>
          <ul class="nav nav-pills text-center" style="background:white; margin-left:160px" id=navigation>
              <li><a onclick="window.location.href='/#acercade'" href="#acercade">Acerca de</a></li>
              <li><a onclick="window.location.href='/#comollegar'" href="#comollegar">Como llegar</a></li>
              <li><a onclick="window.location.href='/#patrocinadores'" href="#patrocinadores">Patrocinadores</a> </li>
              <li><a onclick="window.location.href='/#comoparticipar'" href="#comoparticipar">Como participar</a></li>
              <li><a onclick="window.location.href='/#call4papers'" href="#call4papers">Call4Papers</a></li>
              <li><a onclick="window.location.href='/#codigodeconducta'" href="#codigodeconducta">Codigo de conducta</a></li>
              <li><a href="/blog" onclick="window.location.onclick="window.location.href='/#'" href='/blog'">Blog</a></li>
          </ul>

      </div>

{%endblock%}
{%block body%}
{% for article in pages %}
    <a href="/blog/{{article.meta['language']}}/{{article.meta['post_id']}}"><h1 class=text-center>{{article.meta['title']}}</h1></a>
    <p class=lead>
        {{article}}
    </p>
    <h4> {{article.meta['published']}} - {{article.meta['author']}}</h4>
    <hr/>
{%endfor%}
{%if single%}
<h1><a href="/blog/"> Volver </a></h1>
{%endif%}
{%endblock%}
