{% extends 'base.html' %}
    {%block menu%}
          <div style="border-bottom:1px solid #eee; padding-bottom:20px; margin-bottom:30px" class=text-center>
              <ul class="nav nav-pills text-center" style="background:white; margin-left:80px" id=navigation>
                  <li><a onclick="window.location.href='/#acercade'" href="#acercade">{{ _('Acerca de') }}</a></li>
                  <li><a onclick="window.location.href='/#comollegar'" href="#comollegar">{{ _('Cómo llegar') }}</a></li>
                  <li><a onclick="window.location.href='/#patrocinadores'" href="#patrocinadores">{{ _('Patrocinadores') }}</a> </li>
                  <li><a onclick="window.location.href='/#comoparticipar'" href="#comoparticipar">{{ _('Cómo participar') }}</a></li>
                  <li><a onclick="window.location.href='/#call4papers'" href="#call4papers">{{ _('Call4Papers') }}</a></li>
                  <li><a onclick="window.location.href='/#codigodeconducta'" href="#codigodeconducta">{{ _('Código de conducta') }}</a></li>
                  <li><a onclick="window.location.href='/talks'" href="/talks">{{ _('Charlas Propuestas') }}</a></li>
                  <li><a href="/blog" onclick="window.location.href='/blog'">{{ _('Blog') }}</a></li>
              </ul>

          </div>

    {%endblock%}

    {% block body %}
    <h2 class="text-center text-danger"> Actualmente hemos recibido {{ trello_talks|count }} propuestas de charlas, {{trello_wshop|count}} propuestas de talleres y {{trello_light|count}} propuestas de lightning talks </h2>

    <h1 class=text-danger>Charlas</h1>
    {%for talk in trello_talks%}
        <h1 class=text-center> {{talk.name}}</h1>
        <div class="lead">
            {% markdown %}
{{ talk.desc }}
            {%endmarkdown%}
        </div>
        <h3 class=text-info>Votos {{talk.idMembersVoted|count}}</h3>
        <hr/>
    {%endfor%}

    <h1 class=text-danger>Talleres </h1>
    {%for talk in trello_wshop%}
        <h1 class=text-center> {{talk.name}}</h1>
        <div class="lead">
            {% markdown %}
{{ talk.desc }}
            {%endmarkdown%}
        </div>
        <h3 class=text-info>Votos {{talk.idMembersVoted|count}}</h3>
        <hr/>
    {%endfor%}

    <h1 class=text-danger>Lightning talks</h1>
    <h1 class=text-danger>Charlas</h1>
    {%for talk in trello_light%}
        <h1 class=text-center> {{talk.name}}</h1>
        <div class="lead">
            {% markdown %}
{{ talk.desc }}
            {%endmarkdown%}
        </div>
        <h3 class=text-info>Votos {{talk.idMembersVoted|count}}</h3>
        <hr/>
    {%endfor%}



{%endblock%}
