{% extends 'base.html' %}
    {%block menu%}
          <div style="border-bottom:1px solid #eee; padding-bottom:20px; margin-bottom:30px" class=text-center>
              <ul class="nav nav-pills text-center" style="background:white; margin-left:80px" id=navigation>
                  <li><a
                      onclick="window.location.href='/{{g.locale}}/#acercade'"
                      href="/{{g.locale}}/#acercade">{{ _('Acerca de') }}</a></li>
                  <li><a
                      onclick="window.location.href='/{{g.locale}}/#patrocinadores'"
                      href="/{{g.locale}}/#patrocinadores">{{ _('Patrocinadores') }}</a> </li>
                  <li><a onclick="window.location.href='/{{g.locale}}/info'">{{ _('Más información') }}</a></li>
                  <li><a onclick="window.location.href='/{{g.locale}}/talks'"
                      href="/{{g.locale}}/talks">{{ _('Charlas') }}</a></li>
                  <li><a href="/{{g.locale}}/blog"
                      onclick="window.location.href='/{{g.locale}}/blog'">{{ _('Blog') }}</a></li>
              </ul>
          </div>

    {%endblock%}

    {% block body %}

    <img src="/static/img/pyconcabecera.png" style="margin-bottom:40px" class="img-responsive col-md-12" alt="horarios" />
    <img src="/static/img/horariospycon.png" class="img-responsive col-md-12" alt="horarios" />
    <img style="margin-top:110px; margin-bottom:70px;" src="/static/img/horariospycon2.png" class="img-responsive col-md-12" alt="horarios" />
    <a href="/static/img/horariospycon.pdf"> <h3> Descargar horarios en PDF </h3> </a>

    <a onclick="$('#onlytext').show()" class=text-center href="#horarios"> <h3>Mostrar versión de texto (sin
            horarios) </h3></a>
    <div style="display:none" id="onlytext">
        <h1 id=horarios> Horarios </h1>
        <p>
        La conferencia empezará el sabado día 8 a las 9:30 y terminará el domingo
        día 9 a las 21:00
        </p>
        <h1 class=text-danger>Charlas</h1>
        {%for talk in trello_talks%}
            <h1 class=text-center> {{talk.name}}</h1>
            <div class="lead">
                {% markdown %}
    {{ talk.desc }}
                {%endmarkdown%}
            </div>
            <hr/>
        {%endfor%}

        <h1 class=text-danger>Talleres </h1>
        {%for talk in trello_wshop%}
            <h1 class=text-center> {{talk.name}}</h1>
            <div class="lead">
                {% markdown %}
    {{ talk.desc }}
                {%endmarkdown%}
            </div>
            <hr/>
        {%endfor%}

        <h1 class=text-danger>Lightning talks</h1>
        <h1 class=text-danger>Charlas</h1>
        {%for talk in trello_light%}
            <h1 class=text-center> {{talk.name}}</h1>
            <div class="lead">
                {% markdown %}
    {{ talk.desc }}
                {%endmarkdown%}
            </div>
        <hr/>
    {%endfor%}
    </div>
{%endblock%}
