{% extends 'base.html' %}
{% block body %}

      <div class=row>
          <h1 class="text-center text-primary"> Organizan </h1>
          <div class="col-lg-12" style="padding: 15px 15px 0 15px;">
            <div class=" block-center center-block sponsor" style="width:60%; min-height:100px;">
              <a href="http://www.dlabs.co">
                  <img alt="Dlabs logo" style="margin-left:140px; float:left; width:70%;
                  margin-right: 15px;" class="text-center img-responsive" src="{{url_for('static', filename='img/dlabs.png')}}" />
              </a>
            </div>
          </div>

          <div class="col-lg-12" style="padding: 15px 15px 0 15px;">
            <div class="center-block sponsor" style="width:60%; min-height:100px;">
              <a href="http://www.zaragoza.es/ciudad/etopia">
                  <img alt="Etopia logo" style="width:30%;float:left;
                  margin-left:140px" class="img-responsive"
                  src="{{url_for('static', filename='img/etopia.jpg')}}" />
                  <img alt="Ayto zaragoza logo" style="float:left; width:30%;" class="img-responsive"
                  src="{{url_for('static', filename='img/ayto.png')}}" />

              </a>
            </div>
          </div>

        <div class=col-lg-12>
            <h1 id=acercade class="scrollto text-primary text-center">{{ _('¿Qué es PyConES 2014?') }}</h1>
            <p class="lead uppercase text-center">{{ _('PyConES es la conferencia nacional de Python <br/> con mayor relevancia de España.') }}</p>

            <p class=lead style="font-weight:bold">
                {{ _('<span class=text-primary>PyConES</span> celebrará su segunda edición, tras el éxito de la
                desarrollada el pasado año en Madrid, bajo el formato del
                evento mundial <a href="http://pycon.org">PyCon</a>. En esta ocasión, la
                organización recae en el hackerspace de Zaragoza, Dlabs con la
                colaboración de la asociación Python España y el Grupo de Python
                Zaragoza.') }}

            </p>
        </div>
    </div>
      <div class=row>
          <div class=col-lg-12>
              <i class="fa fa-cog pull-left text-primary lead fa fa-cog"
                  style="font-size:130px"></i>
              <p class="lead">
                  {{ _('Un hackerspace es un sitio físico donde gente con diversos
                  intereses se puede conocer, socializar y colaborar. DLabs nos
                  brinda un espacio donde unirnos personas de diversos trasfondos y
                  especialidades compartiendo conocimientos y materiales creando una
                  especie de laboratorio de desarrollo abierto. Ahora mismo el
                  hackerspace cuenta con una veintena de socios que coordinarán y
                  organizarán el evento de este año junto a otros voluntarios.') }}
              </p>
              <p class=lead>
                <i class="fa fa-location-arrow pull-left text-primary lead"
                  style="font-size:130px"></i>
                   {{ _('Zaragoza es la quinta ciudad española por tamaño. Está enclavada a mitad de
                   camino entre Madrid y Barcelona, con buenas comunicaciones por carretera y tren
                   de alta velocidad, y cuenta con una buena oferta hostelera, gastronómica y de
                   ocio nocturno, lo que la hace una ciudad ideal para la celebración de congresos.') }}
              </p>
          </div>
        </div>
        <div class=row>
          <div class=col-lg-12>
              <h1 class="text-primary text-center">{{_('¡Entradas!')}}</h1>
              <p class="lead">
                {{ _('¡consigue ya tus entradas para la conferencia!') }}<br/>
                {{ _('Las entradas están disponibles de la mano de ticketea <a href="https://www.ticketea.com/pycones14/"> aquí </a>')}}
              </p>
          </div>
      </div>
        <div class=row>
          <div class=col-lg-12>
              <h1 class="text-primary text-center">{{_('Recursos útiles')}}</h1>
              <p class="lead">
              <h3>{{ _('Hoteles cercanos') }}</h3>
                  <ul>
                      <li>
                          A 1 minuto - <a href="http://www.tryphotels.com/es/hotel-tryp-zaragoza-espana.html">{{ _('Hotel TRYP Zaragoza') }}</a>
                      </li>

                      <li>
                          A 3 minutos - <a href="http://www.husa.es/hotel-husa-puerta-de-zaragoza.htm">{{_('Hotel USA Puerta zaragoza')}}</a>
                      </li>
                  </ul>
              </p>
          </div>
      </div>
      <div class=row>
        <div class=col-lg-12>
            <h1 class="text-primary text-center">{{ _('Ediciones anteriores') }}</h1>
            <p class="lead uppercase text-center">{{ _('PyConES 2013') }}</p>
            <p class=lead>
                {{ _('<span>La PyConES 2013 se celebró en la Universidad Politécnica de
                Madrid (UPM) en noviembre de 2013.</span> <br/>
                La conferencia contó con más de 20 patrocinadores y más de 300
                asistentes, así como casi 10.000 visualizaciones de las charlas en
                los seis meses posteriores a la celebración del evento.') }}
                <br/>
                {{ _('Para más información, puedes visitar el archivo de la edición
                2013 <a href="http://2013.es.pycon.org" target="_new">aquí</a>') }}

            </p>
        </div>
    </div>


      <div class=row>
        <div class=col-lg-12>

            <h1 id=comollegar class=" scrollto text-primary text-center">{{ _('Lugar') }}</h1>
            <p class="lead uppercase text-center">
                {{ _('Etopia - Centro de Arte y Tecnología') }}
            </p>
            <p class=lead>
                   {{ _('El Centro de Arte y Tecnología de Zaragoza es un equipamiento de
                   nueva generación diseñado para albergar y promover los proyectos
                   creativos y emprendedores más innovadores dentro del espacio de
                   la Milla Digital.<br/> Una potente instalación con una superficie
                   total construida de más de 16.000 m2 que funcionará al mismo
                   tiempo como centro de cultura contemporánea, escaparate de las
                   expresiones artísticas más vanguardistas, taller para creadores y
                   tecnólogos, espacio de formación especializada en los nuevos
                   ámbitos surgidos por la intersección del arte y la tecnología,
                   laboratorio de ideas para la ciudad digital e incubadora de
                   nuevas empresas del sector de los contenidos.') }}

            </p>
            <iframe width="100%" height="450" frameborder="0" style="border:0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=-0.9134209156036376%2C41.658020211719155%2C-0.9009647369384766%2C41.66088178366847&amp;layer=mapnik&amp;marker=41.65943899017537%2C-0.9071767330169678"></iframe><br/><small><a href="http://www.openstreetmap.org/?mlat=41.65945&amp;mlon=-0.90719#map=17/41.65945/-0.90719">{{ _('Ver mapa más grande') }}</a> - <a href="https://mapsengine.google.com/map/edit?mid=zMetcmekBiFU.klCrXca9K_Pg">{{ _('Ver mapa en Google Maps') }}</a></small>
        </div>
    </div>
    <br/>
    <br/>
      <div class=row>
          <div class=col-lg-12>
            <h1 id=patrocinadores class="scrollto text-primary text-center">{{ _('Patrocinadores') }}</h1>
            <p class=lead>
              <p class="lead text-center">
              <h3 class=text-center style="clear:both">{{ _('Platino') }}</h3>
                <img alt="psf logo" style="float:center;margin-right: 15px;"
                class="center-block text-center col-md-3 img-responsive" src="{{url_for('static', filename='img/psf.png')}}" />
                <br/>
              <h3 class=text-center  style="clear:both" >{{ _('Oro') }}</h3>
                <img alt="qdqmedia logo" style="margin-left:50px; float: left; margin-right: 15px;" class="col-md-3 img-responsive" src="{{url_for('static', filename='img/qdqmedia.png')}}" />
                <img alt="scrapinghub logo" style="float: left; margin-right: 15px;" class="col-md-3 img-responsive" src="{{url_for('static', filename='img/scrapinghub.png')}}" />
                <img alt="ticketea logo" style="margin-left:50px; float: left; margin-right: 15px;" class="col-md-3 img-responsive" src="{{url_for('static', filename='img/ticketea.png')}}" />
                <br/>
              <h3 class=text-center  style="clear:both" >{{ _('Plata') }}</h3>
                <img alt="telefonica logo" style="margin-left:50px; float: left; margin-right: 15px;" class="col-md-3 img-responsive" src="{{url_for('static', filename='img/telefonica.png')}}" />
                <img alt="gisce logo" style="margin-left:50px; float: left; margin-right: 15px;" class="col-md-3 img-responsive" src="{{url_for('static', filename='img/gisce.png')}}" />
                <img alt="apsl logo" style="margin-left:50px; float: left; margin-right: 15px;" class="col-md-3 img-responsive" src="{{url_for('static', filename='img/apsl.png')}}" />
                <img alt="logo logo" style="float: left; margin-right: 15px;" class="col-md-3 img-responsive" src="{{url_for('static', filename='img/logo.gif')}}" />
                <br/>
              <h3 class=text-center  style="clear:both" >{{ _('Colaboradores') }}</h3>
                <img alt="gaceta logo" style="margin-left:50px; float: left; margin-right: 15px;" class="col-md-3 img-responsive" src="{{url_for('static', filename='img/gaceta.png')}}" />
                <img alt="pycharm logo" style="margin-left:50px; float: left; margin-right: 15px;" class="col-md-3 img-responsive" src="{{url_for('static', filename='img/pycharm.png')}}" />
                <img alt="github logo" style="margin-left:50px; float: left; margin-right: 15px;" class="col-md-3 img-responsive" src="{{url_for('static', filename='img/github.png')}}" />
                <img alt="pythonzaragoza logo" style="margin-left:50px; float: left; margin-right: 15px;" class="col-md-3 img-responsive" src="{{url_for('static', filename='img/pythonzaragoza.png')}}" />
                <img alt="pythonespana logo" style="margin-left:50px; float: left; margin-right: 15px;" class="col-md-3 img-responsive" src="{{url_for('static', filename='img/pythonespana.png')}}" />
                <img alt="osluz logo" style="margin-left:50px; float: left; margin-right: 15px;" class="col-md-3 img-responsive" src="{{url_for('static', filename='img/osluz.png')}}" />
                <img alt="strs logo" style="margin-left:50px; float: left; margin-right: 15px;" class="col-md-3 img-responsive" src="{{url_for('static', filename='img/strs.png')}}" />
                <br/>
              </p>
            <p class=lead>
            </p>
          </div>
          <div class=col-lg-12>
              <br/>
            <p class="lead uppercase text-center">
                {{ _('¡Tú también puedes patrocinar PyConES!') }}
            </p>
              <p class="lead">
              <b>{{ _('Si estás interesado en patrocinar PyConES 2014, <a href="%(url_sponsor)s">este documento</a> es para ti</b>', url_sponsor=url_for('static', filename='pycones2014call4sponsors_%s.pdf' % (g.locale if g.locale in g.available_langs else "es"))) }}
              <br/>
              {{ _('Puedes ponerte en contacto con nosotros <a href="mailto:pycon2014@dlabs.co">en pycon2014@dlabs.co</a>') }}
          </div>
      </div>
      <div class="row">
        <div class=col-lg-12>
            <h1 id=comoparticipar class="scrollto text-primary text-center">{{ _('Cómo participar') }}</h1>
            <p class="lead uppercase text-center">{{ _('La conferencia todavía se está gestando') }}</p>
            <p class=lead>{{ _('Estamos trabajando duro para poder ofreceros una PyConES espectacular.
            Nuestro equipo de organizadores, colaboradores y voluntarios, con
            más veinte personas implicadas, está preparando los recursos para
            que podáis participar y luchando por conseguir a los mejores
            conferenciantes y las charlas más interesantes.') }}</p>
            <p class=lead>{{ _('Actualmente puedes acceder a los siguientes recursos:') }}</p>
            <ul class=lead>
                <li><a href="https://lists.es.python.org/listinfo/pycones2014_colaboradores" target="_new">{{ _('Correo electrónico de colaboradores') }}</a></li>
                <li><a href="mailto:pycon2014@dlabs.co">{{ _('Correo interno de organización de Dlabs Hackerspace') }}</a></li>
                <li><a href="https://trello.com/b/qlhISlt0/pycon2014">{{ _('Trello público') }}</a></li>
            </ul>
        </div>
    </div>
    <div class=row>
        <div class=col-lg-12>
            <h1 id=call4papers class="scrollto text-primary text-center">{{ _('Call for papers') }}</h1>
            <p class="lead uppercase text-center">{{ _('¡Atentos, ponentes!') }}<br/>
            </p>

            <p class=lead>{{ _('¡Abierta la convocatoria para presentar ponencias en la PyConES 2014!') }}<br/><br/>
                {{ _('Actualmente los patrocinios no están cerrados, pero haremos todo lo
                posible para facilitar el viaje y alojamiento a los ponentes de
                PyConES 2014, además, gozarán de entrada gratuita y un regalo
                especial que anunciaremos en la ceremonia de despedida.') }}
            </p>

            <p class=lead>{{ _('Tipos de ponencia a presentar') }}</p>
            <ul class=lead><li>{{ _('Charlas - 50 minutos de charla técnica') }}</li>
                <li>{{ _('Lightning talks - 10 minutos de ponencia o presentación de producto.') }}</li>
                <li>{{ _('Talleres - entre 50 minutos y 2 horas de taller') }}</li>
            </ul>

            <p class="lead">{{ _('Algunas fechas importantes') }}</p>

            <ul class=lead>
                <li>{{ _('10 de septiembre - Límite del plazo de presentación de ponencias') }}</li>
                <li>{{ _('3-6 noviembre - Curso de Python en Dlabs') }}</li>
                <li>{{ _('7 de noviembre - BetaBeers especial PyConES ') }}</li>
            </ul>

            <p class="lead" style="font-weight:bold">
                {{ _('Si tienes una propuesta de charla, envíanos un correo a
                <a href="mailto:pycon2014@dlabs.co">pycon2014@dlabs.co</a> con
                los siguientes puntos:') }}
            </p>

            <ul >
                <li>{{ _('<em>Asunto:</em> "PyConES 2014 - Call4Papers Response"') }}</li>
                <li>{{ _('<em>Cuerpo:</em> Pequeño extracto del tema tu charla') }}</li>
                <li>{{ _('<em>Incluye la duración de tu charla</em>') }}</li>
                <li>{{ _('<em>Cuéntanos algo sobre ti mismo</em>') }}</li>
            </ul>
        </div>
      </div>
      <div class="row">
        <div class=col-lg-12>
            <h1 id=codigodeconducta class="scrollto text-primary text-center">{{ _(' Código de conducta ') }}</h1>
            <p class="lead">
                {{ _('Se espera todos los asistentes muestren respeto y cortesía hacia el resto
                durante la conferencia.
                <br/>
                En concreto, todos los delegados, conferenciantes, expositores y voluntarios que
                tomen parte en actividades relacionadas con PyConES deberán acatar el presente
                código de conducta. Los organizadores cuidarán del cumplimiento de este código
                durante el evento.
                <br/>

                PyConES aspira a crear un ambiente libre de acosos o discriminaciones por razón
                de género, orientación sexual, discapacidad, aspecto físico, etnia o religión.
                No se tolerará discriminación alguna bajo ninguna circunstancia.
                <br/>

                Si algún participante infringiera este código de conducta, la organización podrá
                tomar las medidas que considere adecuadas, como la amonestación o la expulsión
                sin derecho a reembolso.') }}
            </p>

        </div>
      </div>
{%endblock%}
