{% extends 'base.html' %}
{% block body %}

      <div class=row>
          <h1 class="text-center text-primary"> Organizan </h1>
          <div class="col-lg-12" style="padding: 15px 15px 0 15px;">
            <div class=" block-center center-block sponsor" style="width:60%; min-height:100px;">
              <a href="http://www.dlabs.co">
                  <img alt="Dlabs logo" style="margin-left:140px; float:left; width:70%;
                  margin-right: 15px;" class="text-center img-responsive" src="{{url_for('static', filename='img/dlabs.png')}}" />
              </a>
            </div>
          </div>

          <div class="col-lg-12" style="padding: 15px 15px 0 15px;">
            <div class="center-block sponsor" style="width:60%; min-height:100px;">
              <a href="http://www.zaragoza.es/ciudad/etopia">
                  <img alt="Etopia logo" style="width:30%;float:left;
                  margin-left:140px" class="img-responsive"
                  src="{{url_for('static', filename='img/etopia.jpg')}}" />
                  <img alt="Ayto zaragoza logo" style="float:left; width:30%;" class="img-responsive"
                  src="{{url_for('static', filename='img/ayto.png')}}" />
              </a>
            </div>
          </div>

        <div class=col-lg-12>
            <h1 id=acercade class="scrollto text-primary text-center">{{ _('¿Qué es PyConES 2014?') }}</h1>
            <p class="lead uppercase text-center">{{ _('PyConES es la conferencia nacional de Python <br/> con mayor relevancia de España.') }}</p>

            <p class=lead style="font-weight:bold">
                {{ _('<span class=text-primary>PyConES</span> celebrará su segunda edición, tras el éxito de la
                desarrollada el pasado año en Madrid, bajo el formato del
                evento mundial <a href="http://pycon.org">PyCon</a>. En esta ocasión, la
                organización recae en el hackerspace de Zaragoza, Dlabs con la
                colaboración de la asociación Python España y el Grupo de Python
                Zaragoza.') }}

            </p>
        </div>
    </div>
      <div class=row>
          <div class=col-lg-12>
              <i class="fa fa-cog pull-left text-primary lead fa fa-cog"
                  style="font-size:130px"></i>
              <p class="lead">
                  {{ _('Un hackerspace es un sitio físico donde gente con diversos
                  intereses se puede conocer, socializar y colaborar. DLabs nos
                  brinda un espacio donde unirnos personas de diversos trasfondos y
                  especialidades compartiendo conocimientos y materiales creando una
                  especie de laboratorio de desarrollo abierto. Ahora mismo el
                  hackerspace cuenta con una veintena de socios que coordinarán y
                  organizarán el evento de este año junto a otros voluntarios.') }}
              </p>
              <p class=lead>
                <i class="fa fa-location-arrow pull-left text-primary lead"
                  style="font-size:130px"></i>
                   {{ _('Zaragoza es la quinta ciudad española por tamaño. Está enclavada a mitad de
                   camino entre Madrid y Barcelona, con buenas comunicaciones por carretera y tren
                   de alta velocidad, y cuenta con una buena oferta hostelera, gastronómica y de
                   ocio nocturno, lo que la hace una ciudad ideal para la celebración de congresos.') }}
              </p>
          </div>
        </div>

        <div class=row>
          <div class=col-lg-12>
              <h1 class="text-primary text-center">{{_('¡Consigue tus entradas!')}}</h1>
            <a href="https://www.ticketea.com/pycones14/" title="Compra aquí tus entradas">
              <img src="https://d18t9gwja9h9h.cloudfront.net/assets/images/buttons/es/buyhere.png" alt="Compra aquí tus entradas" />
            </a>
              <p class=lead>
                  Con tu entrada podrás acceder los dos días de la conferencia
                  completos.
                  <br/>
                  En la entrada del edificio te cambiaremos tu entrada de ticketea
                  (no olvides traerla) por tu acreditación y te entregaremos el
                  WelcomePack.
                  <br/>
                  Si eres patrocinador y haces uso de las entradas a las que da
                  derecho el patrocinio, mandanos los nombres de tus asistentes por
                  correo, deberán venir con un documento de identificación y les
                  entregaremos la acreditación.
                  <br/>
              </p>
          </div>
      </div>


      <div class=row>
          <div class=col-lg-12>
            <h1 id=patrocinadores class="scrollto text-primary text-center">{{ _('Patrocinadores') }}</h1>
              <h3 class=text-center style="clear:both; padding-bottom:40px; padding-bottom:40px">{{ _('Platino') }}</h3>
                <a target=_blank href=""><img alt="psf logo" style="float:center;"
                    class="center-block text-center col-md-3 img-responsive" src="{{url_for('static', filename='img/psf.png')}}" /></a>
            <hr style="clear:both"/>
              <h3 class=text-center  style="clear:both; padding-top:40px; padding-bottom:40px" >{{ _('Oro') }}</h3>
              <div class=col-lg-12>
                <a target=_blank href="http://www.qdqmedia.com"><img alt="qdqmedia logo" style="margin-left:50px; float: left; margin-right: 15px;" class="col-md-3 img-responsive" src="{{url_for('static', filename='img/qdqmedia.png')}}" /></a>
                <a target=_blank href="http://www.scrapinghub.com"><img alt="scrapinghub logo" style="float: left; margin-right: 15px;" class="col-md-3 img-responsive" src="{{url_for('static', filename='img/scrapinghub.png')}}" /></a>
                <a target=_blank href="http://www.ticketea.com"><img
                    alt="ticketea logo" style="margin-left:50px; margin-bottom:60px; float: left; margin-right: 15px;" class="col-md-3 img-responsive" src="{{url_for('static', filename='img/ticketea.png')}}" /></a>
                <a target=_blank href="http://www.buguroo.com"><img
                    alt="buguroo logo" style="margin-left:50px; margin-bottom:60px; float: left; margin-right: 15px;" class="col-md-3 img-responsive" src="{{url_for('static', filename='img/buguroo.png')}}" /></a>
                <a target=_blank href="http://www.e-frontiers.ie"><img
                    alt="efrontiers logo" style="margin-left:50px; margin-bottom:60px; float: left; margin-right: 15px;" class="col-md-3 img-responsive" src="{{url_for('static', filename='img/efrontiers.png')}}" /></a>
                </div>
            <hr style="clear:both"/>
              <h3 class=text-center  style="clear:both;padding-top:40px; padding-bottom:40px" >{{ _('Plata') }}</h3>
              <div class=col-lg-12>
                <a target=_blank href="http://www.telefonica.es"><img alt="telefonica logo" style="margin-left:50px; float: left; margin-right: 15px;" class="col-md-3 img-responsive" src="{{url_for('static', filename='img/telefonica.png')}}" /></a>
                <a target=_blank href="http://www.gisce.net"><img alt="gisce logo" style="margin-left:50px; float: left; margin-right: 15px;" class="col-md-3 img-responsive" src="{{url_for('static', filename='img/gisce.png')}}" /></a>
                <a target=_blank href="http://www.apsl.net"><img alt="apsl logo" style="margin-left:50px; float: left; margin-right: 15px;" class="col-md-3 img-responsive" src="{{url_for('static', filename='img/apsl.png')}}" /></a>
                <a target=_blank href="http://www.codesyntax.com/"><img alt="codesyntax" style="float: left; margin-left:60px; margin-bottom:30px; margin-right: 15px;" class="col-md-3 img-responsive" src="{{url_for('static', filename='img/logo.gif')}}" /></a>
                <a target=_blank href="http://www.shuttlecloud.com/"><img alt="shuttlecloud logo" style="margin-left:50px; float: left; margin-right: 15px;" class="col-md-3 img-responsive" src="{{url_for('static', filename='img/shuttlecloud.png')}}" /></a>
            </div>
                <div class="clear:both;"><br/><br/></div>
            <hr style="clear:both"/>
              <h3 class=text-center  style="clear:both; padding-top:40px; padding-bottom:40px" >{{ _('Colaboradores') }}</h3>
          <div class=row>
            <div class=col-lg-4>
                <a target=_blank href="http://strsistemas.com"><img alt="strs logo" style="margin-left:50px; margin-right: 15px;" class="col-md-12 img-responsive" src="{{url_for('static', filename='img/strs.png')}}" /></a>
            </div>

            <div class=col-lg-4>
                <a target=_blank href="http://www.github.com"><img alt="github logo" style="margin-left:50px; margin-right: 15px;" class="col-md-12 img-responsive" src="{{url_for('static', filename='img/github.png')}}" /></a>
            </div>

            <div class=col-lg-4>
                <a target=_blank href="http://www.jetbrains.com/pycharm"><img alt="pycharm logo" style="margin-left:50px; margin-top:40px; margin-right: 15px;" class="col-md-12 img-responsive" src="{{url_for('static', filename='img/pycharm.png')}}" /></a>
            </div>
        </div>
        <div class=row style="margin-top:80px">
            <div class=col-lg-5>
                <a target=_blank href="http://www.gacetatecnologica.com"><img alt="gaceta logo" style="margin-left:50px; margin-right: 15px;" class="col-md-12 img-responsive" src="{{url_for('static', filename='img/gaceta.png')}}" /></a>
            </div>

            <div class=col-lg-3>
                <a target=_blank href="http://osluz.unizar.es"><img alt="osluz logo" style="margin-left:50px;  margin-right: 15px;" class="col-md-12 img-responsive" src="{{url_for('static', filename='img/osluz.png')}}" /></a>
            </div>

            <div class=col-lg-3>
                <div class=row>
                    <a
                        target=_blank href="https://plus.google.com/communities/103281359456269063508"><img alt="pythonespanaonzaragoza logo" style="margin-left:50px;  margin-right: 15px;" class="col-md-4 img-responsive" src="{{url_for('static', filename='img/pythonzaragoza.png')}}" /></a>
                <br/>
                    <b>Python Zaragoza</b>
            </div>
                <div class=row>
                    <a target=_blank href="http://es.python.org"><img alt="pythonespana logo" style="margin-left:50px;  margin-right: 15px;" class="col-md-4 img-responsive" src="{{url_for('static', filename='img/pythonespana.png')}}" /></a>
                    <br/>
                    <b>Python España</b>
                </div>
            </div>

        </div>
            <div class=col-lg-4>
            </div>
          </div>
          <div class=col-lg-12>
              <br/>
            <p class="lead uppercase text-center">
                {{ _('¡Tú también puedes patrocinar PyConES!') }}
            </p>
              <p class="lead">
              <b>{{ _('Si estás interesado en patrocinar PyConES 2014, <a href="%(url_sponsor)s">este documento</a> es para ti</b>', url_sponsor=url_for('static', filename='pycones2014call4sponsors_%s.pdf' % (g.locale if g.locale in g.available_langs else "es"))) }}
              <br/>
              {{ _('Puedes ponerte en contacto con nosotros <a href="mailto:pycon2014@dlabs.co">en pycon2014@dlabs.co</a>') }}
          </div>
      </div>
      <!--
          <div class="row">
        <div class=col-lg-12>
            <h1 id=comoparticipar class="scrollto text-primary text-center">{{ _('Cómo participar') }}</h1>
            <p class="lead uppercase text-center">{{ _('La conferencia todavía se está gestando') }}</p>
            <p class=lead>{{ _('Estamos trabajando duro para poder ofreceros una PyConES espectacular.
            Nuestro equipo de organizadores, colaboradores y voluntarios, con
            más veinte personas implicadas, está preparando los recursos para
            que podáis participar y luchando por conseguir a los mejores
            conferenciantes y las charlas más interesantes.') }}</p>
            <p class=lead>{{ _('Actualmente puedes acceder a los siguientes recursos:') }}</p>
            <ul class=lead>
                <li><a href="https://lists.es.python.org/listinfo/pycones2014_colaboradores" target="_new">{{ _('Correo electrónico de colaboradores') }}</a></li>
                <li><a href="mailto:pycon2014@dlabs.co">{{ _('Correo interno de organización de Dlabs Hackerspace') }}</a></li>
                <li><a href="https://trello.com/b/qlhISlt0/pycon2014">{{ _('Trello público') }}</a></li>
            </ul>

            <p class="lead">{{ _('Algunas fechas importantes') }}</p>

            <ul class=lead>
                <li>{{ _('3-6 noviembre - Curso de Python en Dlabs') }}</li>
                <li>{{ _('7 de noviembre - BetaBeers especial PyConES ') }}</li>
            </ul>
        </div>
      </div>
-->
{%endblock%}
